body{
  background: linear-gradient(0deg,rgb(255, 52, 187),rgb(253, 124, 253),rgb(253, 197, 241));
  background-size: 200% 200%; 
  animation: bg-gradient 10s infinite alternate;
  padding:2vh 5vw;
  box-sizing: border-box;
  margin: 0;
}

@keyframes bg-gradient {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}

.content-container{
  height:96vh;
  width: 90vw;
}

.title{
  width: 100%;
  font-size: 4rem;
  text-align: center;
  color: #FFF;
  font-family:"Slackey", sans-serif;
}

.btn-container{
  width:90vw;
  align-content: center;
  position: absolute;
  bottom :10vh;
  left:5vw;
}

.title-btn{
  font-size: 3rem;
  width: 100%;
  background-color: rgb(255, 138, 216);
  border: solid 4px #FFF;
  color:#FFF;
  font-family:"Slackey", sans-serif;
  box-sizing: border-box;
  border-radius: 1rem;
}

.game-container{
  position: relative;
}

.table-container{
  position: absolute;
  top: calc(50% - 45vw);
  height: 90vw;
  width: 90vw;
  background-color: #ffd0f3be;
  box-sizing: border-box;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:center;
}

.table-cell{
  height:calc(90vw / 5.5);
  width: calc(90vw / 5.5);
  background-color: rgb(255, 255, 255);
  transition: background-color .7s;
  border-radius: 50%;
  border: solid 1px #ffbcf1;
  box-sizing: border-box;
  text-align: center;
  font-size:10vw;
  color: #ff2bd1;
}


.p1-token{
  background-color: rgb(70, 255, 255);
}

.p2-token{
  background-color: rgb(69, 255, 193);
}

.bobail{
  background-color: #eef07b;
}

.current-select-token{
  border: solid 2px #F00;
}

.msg-display{
  width: 100%;
  font-size: 1.5rem;
  font-family: 'Jua', sans-serif;
  color: rgb(255, 138, 216);
  height: 3rem;
  background-color: #FFF;
  border: #ff2bd1 solid 2px;
  box-sizing: border-box;
  border-radius: 1rem;
  text-align: center;
  line-height: 3rem;
}

.p1-display{
  position: absolute;
  top:0;
  transform: rotateX(180deg);
  transform: scale(-1);
}

.p2-display{
  position: absolute;
  bottom: 0;
}

